.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 4rem;

  .featured {
    text-align: center;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      color: #222;
    }
  }
}
